.profile__edit-button {
  background: url('../../../images/edit-button.svg') no-repeat;
  display: inline;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 0;
  align-self: baseline;
}

@media screen and (max-width: 560px) {
  .profile__edit-button {
    background-image: url('../../../images/edit-button-small.svg');
    width: 18px;
    height: 18px;
  }
}