.popup__input {
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;;
  width: 358px;
  margin: 0;
  padding: 0px 0 13px 0;
  border: none;
  border-style:  none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.popup__input:not(:first-child) {
  margin-top: 30px;
}

@media screen and (max-width: 540px) {
  .popup__input {
    width: 238px;
  }
}