.profile__info {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
  column-gap: 18px;
}

@media screen and (max-width: 880px) {
  .profile__info {
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .profile__info {
    gap: 14px 10px;
    margin: 0 50px 36px;
  }
}